<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="../static/styleinstructions.css">
</head>
<body>
    <div class="mainbody">
        <div class="panel">
            <div class="header">
                <h1>Bubble Game Instructions</h1>
            </div>
            <div class="instructions">
                <br>
                <br>
                <p>1. You have a total of 60 seconds to play the game.</p>
                <p>2. Your task is to locate and press the bubble that matches the Hit value.</p>
                <p>3. Upon successfully hitting the correct bubble, your score will increase by 10, and all bubbles, along with the Hit value, will be refreshed.</p>
                <p>4. If you hit the wrong bubble, nothing will change.</p>
                <p>5. When you're ready, press the START button</p>
                <br>
                <h3>Best of luck!!!</h3>
                <br>
                <br>
            </div>
            <button class="button" onclick="window.location.href='/game'">START</button>
        </div>
    </div>
</body>
</html>